

<div style="padding:2px;	  width: 50%; float: left;">
  
  <% if entry %>
	<div class="panel panel-default" >
	  <div class="panel-heading">	    
	    <%= link_to show_diary_entry_path( weekday: day, day: entry[:day], month: month, year: year,
	                                       week: week ),
	        remote: js? do %>
	      <%= day %> <%= entry[:day] %>
	    <% end %>
	  </div>
	  <div class="panel-body diary_entry" 
	      style="
				 overflow-x: hidden;
				 word-wrap: break-word">
        <%= simple_format entry[:content].strip if entry[:content] %>	        
	  </div>
	</div>
  <% end %>
  
</div>  



