

<table width=100% >
  <tr style="border: 0px red solid">
    <td width=50%>
      <%= render partial: "day", locals: { day: day1, entry: entry1, week: week, month: month, year: year } %>
    </td>
    <td width=50%>
      <%= render partial: "day", locals: { day: day2, entry: entry2, week: week, month: month, year: year } %>
    </td>    
  </tr>
</table>



