
<%= render "header" %>
    
<div id="people" >
  
  <div id="term_detail_dialogue" class="jumbotron" ></div>
  
  <% if @people %>
  
    <% @people.each do |person| %>
      <span id="<%= 'term_'+person[0].id.to_s %>" class="person" >            
        <%= link_to person[0].term.capitalize, term_detail_path( word_id: person[0].id ), 
        remote: js? %> &nbsp;
      </span>
    <% end %>

    
  <% end %>
  
</div>

