// Place all the styles related to the diary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

#calendar {
  //border: 1px solid green;
  float: left;
  width: 100%;  
  margin: 3px;  
  @include header-block;   
  .diary_entry {
    @include box-with-legend;  
    //border: 2px dotted purple;
    float: left;
    margin: 0.5%;
	padding: 0.5%; 
	width: 11.5%;	
	overflow-x: auto;	
    fieldset {
      div {
        & p { font-size: $small-text-size; }
        min-height: 100px; 
        max-height: 200px; 
        overflow-y: hidden; 
      }
    }	  
  }
  .empty_diary_entry {
    @extend .diary_entry;
    background:none;
    border: 2px solid rgba(255,255,255,0.0);
    fieldset {
      //background: rgba(255,255,255,0.5);
      border:none;
      height: 100px;
    }
  }
}
