

<div class="the_header">
 
  <% if @user %>
    <div>
      <%= link_to 'Diary'.html_safe, calendar_path %> &nbsp;
      <%= link_to 'MindMap'.html_safe, mindmap_path %>
    </div>
  <% end %>

</div>