
<% if @current_user %>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <%= link_to 'Diary'.html_safe, calendar_path, class: "navbar-brand" %>
	    </div>
	    <div class="navbar-header">
	      <%= link_to 'MindMap'.html_safe, mindmap_path, class: "navbar-brand"%>
	    </div>
	  </div>
	</nav>  
<% end %>	
